<h4>Template Driven Form</h4>
<form #scoreForm="ngForm" (ngSubmit)="submitForm(scoreForm)">
    Name: <input type="text" [(ngModel)]="fullname" name="myfullname" placeholder="Your name...." required>{{fullname}}
    <br>
    Score: <input type="number" [(ngModel)]="score" name="myscore" required> {{score}}
    <br>
    City:
    <select [(ngModel)]="city" name="mycity">
        <option value="chennai">Chennai</option>
        <option value="bengaluru">Bengaluru</option>
        <option value="pune">Pune</option>
    </select>
    {{city}}
    <br>
    Date: <input type="date" [(ngModel)]="datevalue" name="mydate"> {{datevalue}}
    <br>
    Rate: <input type="range" [(ngModel)]="rating" name="myrating">{{rating}}
    <br>
    <button type="submit" [disabled]="scoreForm.invalid">Submit</button>
</form>

<ol>
    <li *ngFor="let u of users; let current = index">
        <iframe width="240" height="120"  [src]="sanitizer.bypassSecurityTrustResourceUrl(u.myfullname)" frameborder="1"></iframe>
    </li>
</ol>

<iframe width="240" height="120"  src="https://www.youtube.com/embed/ZaXm6wau-jc" frameborder="1">
</iframe>