<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }} !
  </h1>
  
  <button type="button" class="btn btn-primary">Primary</button>


  <hr>
  <a routerLink="/review1">Review</a>  &nbsp; &nbsp; 
  <a routerLink="/logo">Logo</a> &nbsp; &nbsp; 
  <a routerLink="/directive">Directive</a> &nbsp; &nbsp; 
  <a routerLink="/inbuiltpipe">Inbuilt Pipe</a> &nbsp; &nbsp;
  <a routerLink="/todo">ToDo</a> &nbsp; &nbsp;
  <a routerLink="/form">Form</a>&nbsp; &nbsp;
  <a routerLink="/service1">Service1</a>&nbsp; &nbsp;
  <a routerLink="/consume-remote">Consume</a>&nbsp; &nbsp;
  <a routerLink="/employee">Employee</a>&nbsp; &nbsp;
  <a routerLink="/animate">Animate</a>&nbsp; &nbsp;
  <a routerLink="/eventbinding">Event Binding</a>&nbsp; &nbsp;
<router-outlet></router-outlet>




