<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }} !
  </h1>
  
  <hr>
  <a routerLink="/review1">Review</a>  &nbsp; &nbsp; 
  <a routerLink="/logo">Logo</a> &nbsp; &nbsp; 
  <a routerLink="/directive">Directive</a> &nbsp; &nbsp; 
  <a routerLink="/inbuiltpipe">Inbuilt Pipe</a> &nbsp; &nbsp;
  <a routerLink="/todo">ToDo</a> &nbsp; &nbsp;
  <a routerLink="/template">Template</a> &nbsp; &nbsp;
  <a routerLink="/reactive">Reactive</a> &nbsp; &nbsp;
<router-outlet></router-outlet>