<p>remote-employee works!</p>
<div>
    Selected:
    <br>
    Name: {{selectedEmployee}}
</div>
<div>
    <table border="1">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Age</th>
                <th>Salary</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let emp of allEmployees; let counter = index">
                <td>{{emp.id}}</td>
                <td>{{emp.employee_name}}</td>
                <td>{{emp.employee_age}}</td>
                <td>{{emp.employee_salary}}</td>
                <td>
                    <button (click)="viewEmployee(counter)">View</button>
                    <button (click)="deleteEmployee(counter)">Del</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>