<p>remote-employee works!</p>
<div>
    Selected:
    <br>
    Name: {{selectedEmployee}}
</div>
<div>
    <form #employeeForm="ngForm">
            Id: {{ myid}} <br>
            Name: <input type="text" name="name" [(ngModel)]="myname"><br>
            Age: <input type="number" name="age" [(ngModel)]="myage"> <br>
            Salary: <input type="number" name="salary" [(ngModel)]="mysalary"><br>
            <button (click)="addEmployee(employeeForm)">Add Employee</button> &nbsp;
            <button (click)="updateEmployeeNow()"> Update Employee </button>
    </form>
    
</div>
<div>
    <table border="1">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Age</th>
                <th>Salary</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let emp of allEmployees; let counter = index">
                <td>{{emp.id}}</td>
                <td>{{emp.employee_name}}</td>
                <td>{{emp.employee_age}}</td>
                <td>{{emp.employee_salary}}</td>
                <td>
                    <button (click)="viewEmployee(counter)">View</button>
                    <button (click)="deleteEmployee(counter)">Del</button>
                    <button (click)="updateEmployee(counter)">Update</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>